# Evaluation
- Process all LLM models with both methods, store responses in 'JSON' and 'SQL' folders

In [1]:
import csv

def write_first_element_to_txt(csv_file_path, txt_file_path):
    with open(csv_file_path, mode='r', newline='') as csv_file:
        reader = csv.reader(csv_file)
        with open(txt_file_path, mode='w') as txt_file:
            for row in reader:
                if len(row) > 0:  # Ensure there's at least one element in the row
                    txt_file.write(row[0] + '\n')

# write_first_element_to_txt('evaluation_files/.csv', 'output.txt')

#### Test Questions

In [2]:
testset_1 = [
    "What was my hemoglobin level in the most recent report?",
    "What medications am I currently prescribed, and what are their dosages?",
    "Which hospital did I last visit for my medical visit?",
    "What was the result of my last cholesterol test?",
    "How many times have I been diagnosed with hypertension?",
    "What are the recommendations for managing my diabetes?",
    "What is the contact number of the hospital where I had my last appointment?",
    "What was the total payment for my last medical appointment?",
    "What diagnosis was given by Dr. Jane Doe during my last visit?",
    "What are the normal reference ranges for a glucose test?",
    "How often should I take my prescribed Lisinopril?",
    "What was the interpretation of my last creatinine test result?",
    "What are the tests for which I have a high interpretation?",
    "Which is recommended for my allergy diagnosis?",
    "What is the dosage of the medicine Oseltamivir?",
    "Can you provide the address of the Kindred Hospital I visited in Chicago?",
    "What was my platelet count in the most recent blood report?",
    "Who diagnosed me with flu last year?",
    "What are the dates of the appointments I have with Dr. Michael Smith?",
    "How much did I pay for my medical appointments?",
    "What is the dosage and frequency for the medicine Metformin that I am taking?",
    "Can you list all the doctors I have seen at the 4th hospital in Miami?",
    "What recommendations were given for my last diagnosis of gastritis?",
    "How many times have I been prescribed Cetirizine?",
    "What was the result of my urinalysis report from two visits ago?",
    "Can you provide a summary of my medical reports from the last six months?",
    "What are the test units for the hemoglobin A1c in my reports?",
    "How many different types of reports have I had?",
    "What was the highest payment I made for a single appointment and when?",
    "What is the latest recommendation for my hypertension management?",
    "What are the common recommendations for colds according?",
    "What was the result of my Hemoglobin A1c in the last report?",
    "What was the interpretation of my Hemoglobin A1c in the last report?",
    "What was the interpretation of my bilirubin levels in the last report?",
    "What are all the dates of all the appointments I've had with cardiologists?",
    "How many times have I visited Cedars-Sinai for appointments?",
    "What are the normal reference ranges for neutrophils?",
    "What is the email of doctor Michael Smith?",
    "What is the email of doctor Jane Doe?",
    "What is the phone number of doctor John Doe?",
    "What is the phone number of doctor Maria Garcia?",
    "What hospital does Jane Doe work at?",
    "What kind of doctor is Michael Smith?",
    "What specialization is Maria Garcia?",
    "What is the phone number of NYU Langone?",
    "What is the address of Cedars-Sinai Medical Center?",
    "How many hospitals do I have listed?",
    "What units is the Cholesterol test in?",
    "When is my next upcoming appointment?",
    "Is there anything I should bring/prepare for my next appointment?",
    "Where is my next appointment?"

]

testset_2 = [
    "What was my hemoglobin level in the most recent report?",
    "What medications am I currently prescribed, and what are their dosages?",
    "Which hospital did I last visit for my medical visit?",
    "What was the result of my last urine test?",
    "What is the dosage and frequency of my Sitagliptin medicine?",
    "What are the recommendations for managing my diabetes?",
    "How many times a day should I take iron polysaccharide?",
    "What is the phone number of the doctor at my family practice?",
    "What is the phone number of Inova hospital?",
    "What are the normal reference ranges for a glucose test and what were my levels?",
    "Are there any test results I should be concerned about?",
    "What was the interpretation of my last creatinine test result?",
    "What are the tests for which I have a high interpretation?",
    "When should I take my GLP1 shot?",
    "What is my current dosage of metformin?",
    "Do I need to adjust my medication based on any of my recent results?",
    "What was my platelet count in the most recent blood report?",
    "Based on my recent reports, how effective is my current treatment plan in managing my diabetes?",
    "What is my hemoglobin A1c level, and what does that mean for my health?",
    "How much did I pay for my medical appointments?",
    "What is the dosage and frequency for the medicine Metformin that I am taking?",
    "Can you provide a summary of my medical reports from the last month?",
    "What are the test units for the hemoglobin A1c in my reports?",
    "How many different types of reports have I had?",
    "What was the result of my Hemoglobin A1c in the last report?",
    "What was the interpretation of my Hemoglobin A1c in the last report?",
    "What are all the dates of all the appointments I've had with my endocrinologist?",
    "What is the address of the hospital in Virginia?",
    "Where is Inova hospital?",
    "How can I contact Virginia Hospital Center?",
    "What are the addresses of all my hospitals?",
    "What are the phone numbers of all my doctors?",
    "Give me a summary of all my doctors.",
    "List my personal information on hand.",
    "Where was my first appointment this year?",
    "What doctor did I see on April 24th?",
    "How much have I paid for appointments this year?",
    "How many medicines do I have to take every day?",
    "What medicines do I have to take twice a day?",
    "When and where is my next appointment?",
    "What doctor will I see next?",
    "What should I do if I need to cancel my next appointment?",
    "I have a question about my Metformin medication, which doctor should I call?",
    "Is my diabetes dangerous?",
    "Are any of my medications dangerous?",
    "Tell me one thing that is wrong with my dosages with my medication.",
    "What is incorrect about the recommendations in my diagnoses?",
    "How many remaining appointments do I have scheduled this year?",
    "List my diagnoses",
    "Is there anything I should bring/prepare for my next appointment?",
    "Where is my last appointment?"
]

### SQL Query Evaluation

In [1]:

from langchain_community.utilities.sql_database import SQLDatabase
import os
from helper import generate_query, generate_response, SUBCHAIN_PROMPT, FULLCHAIN_PROMPT, RAG_CONTEXT
from LLMs import OCTOAI_LLM_Chatbot, langdock_LLM_Chatbot
from pathlib import Path
import time
import csv

LANGDOCK_API_KEY = os.getenv("langdock_api_key")
LANGDOCK_BASE_URL = os.getenv("langdock_base_url")
OCTOAI_API_KEY = os.getenv("OCTOAI_TOKEN")

MODEL1 = "meta-llama-3-8b-instruct"
# MODEL2 = "gpt-4o"

llm_octo =OCTOAI_LLM_Chatbot(model_name=MODEL1, api_key=OCTOAI_API_KEY)


# llm_langdock =langdock_LLM_Chatbot(model_name=MODEL2, api_key=LANGDOCK_API_KEY, base_url=LANGDOCK_BASE_URL) #instantiate anyscale llm object


PMA_workspace = Path.cwd().parent.parent
# print(PMA_workspace)
db_path = PMA_workspace / "desktop_app" / "ui" / "DB_query" / "med_assist.db"


# print(db_path)

db_uri = f"sqlite:////{db_path}"

DB = SQLDatabase.from_uri(db_uri)

db2_path = PMA_workspace / "desktop_app" / "ui" / "DB_query" / "drew.db"

db2_uri = f"sqlite:////{db2_path}"
DB2 = SQLDatabase.from_uri(db2_uri)


print(DB.get_usable_table_names())
print(DB2.get_usable_table_names())

['USER', 'appointments', 'diagnosis', 'diagnosis_by_doctor', 'doctor_specialization', 'doctors', 'hospitals', 'medicine', 'medicine_by_diagnosis', 'report_type', 'reports']
['USER', 'appointments', 'diagnosis', 'diagnosis_by_doctor', 'doctor_specialization', 'doctors', 'hospitals', 'medicine', 'medicine_by_diagnosis', 'report_type', 'reports']

#### Test

In [13]:
generate_query(llm=llm_octo, template=SUBCHAIN_PROMPT, question="What is the user's name?", db=DB2)

'SELECT first_name, last_name FROM USER'

#### Meta llama3

In [19]:
import csv

MODEL = "meta-llama-3-8b-instruct"
import time
import csv

# Assuming sql_predictions_llama3 and testset_1 are already defined
sql_predictions_llama3 = []

for i in range(0, len(testset_1), 5):
    for q in testset_1[i:i+5]:  # Process the next 5 questions
        try:
            start_time = time.time()

            query = generate_query(llm=llm_octo, template=SUBCHAIN_PROMPT, question=q, db=DB)
            response = generate_response(llm=llm_octo, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

            query = query.replace("\n", "").replace("  ", "")
            response = response.replace("\n", "")

            end_time = time.time()
            execution_time = end_time - start_time

            sql_predictions_llama3.append((response, query, execution_time))

        except Exception as e:
            query = query.replace("\n", "").replace("  ", "")

            sql_predictions_llama3.append(("Error", query))

        # Write to CSV after each question
        output_filename = f"evaluation_files/{MODEL}_1.csv"
        with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            writer.writerows(sql_predictions_llama3)
    
    # Wait for 60 seconds after every 5 questions
    if i + 5 < len(testset_1):  # Only wait if there are more questions to process
        print("Waiting for 60 seconds before processing the next set of questions...")
        time.sleep(60)

Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...

In [41]:
write_first_element_to_txt('evaluation_files/meta-llama-3-8b-instruct_1.csv', 'output.txt')

Testset 2

In [27]:

MODEL = "meta-llama-3-8b-instruct"
import time
import csv

# Assuming sql_predictions_llama3 and testset_1 are already defined
sql_predictions_llama3 = []

for i in range(0, len(testset_2), 5):
    for q in testset_2[i:i+5]:  # Process the next 5 questions
        try:
            start_time = time.time()

            query = generate_query(llm=llm_octo, template=SUBCHAIN_PROMPT, question=q, db=DB2)
            response = generate_response(llm=llm_octo, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

            query = query.replace("\n", "").replace("  ", "")
            response = response.replace("\n", "")

            end_time = time.time()
            execution_time = end_time - start_time

            sql_predictions_llama3.append((response, query, execution_time))

        except Exception as e:
            query = query.replace("\n", "").replace("  ", "")

            sql_predictions_llama3.append(("Error", query))

        # Write to CSV after each question
        output_filename = f"evaluation_files/{MODEL}_2.csv"
        with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            writer.writerows(sql_predictions_llama3)
    
    # Wait for 60 seconds after every 5 questions
    if i + 5 < len(testset_1):  # Only wait if there are more questions to process
        print("Waiting for 60 seconds before processing the next set of questions...")
        time.sleep(60)

Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...
Waiting for 60 seconds before processing the next set of questions...

In [42]:
write_first_element_to_txt('evaluation_files/meta-llama-3-8b-instruct_2.csv', 'output.txt')

#### Test

In [11]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "open-mistral-7b"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question="what is the user's name?", db=DB2)

#### Mistral open 7b

In [20]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "open-mistral-7b"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_1:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB)
        time.sleep(5)

        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    # time.sleep(30)
    time.sleep(5)

    output_filename = f"evaluation_files/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

KeyboardInterrupt:

testset 2

In [21]:
query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=testset_1[-1], db=DB)
time.sleep(5)
response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

OperationalError: (sqlite3.OperationalError) no such table: users
[SQL: SELECT a.appointment_date
FROM appointments AS a
JOIN users AS u ON a.user_id = u.user_id
WHERE u.user_id = (SELECT user_id FROM USER WHERE first_name = 'Belen' AND last_name = 'Tavares')
AND a.appointment_date > CURDATE()
ORDER BY a.appointment_date ASC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [23]:
write_first_element_to_txt('evaluation_files/open-mistral-7b_1.csv',"output.txt")

In [24]:
from LLMs import MISTRAL_LLM_Chatbot
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")
MODEL = "open-mistral-7b"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_2:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB2)
        time.sleep(5)

        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))
    except Exception as e:
        print(e)
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))
    time.sleep(5)

    output_filename = f"evaluation_files/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

You can only execute one statement at a time.
(sqlite3.OperationalError) no such column: m.medicine_name
[SQL: SELECT m.medicine_name, m.dosage, m.units
FROM medicine_by_diagnosis mbd
JOIN diagnosis_by_doctor dbd ON mbd.diagnosis_id = dbd.diagnosis_id
JOIN doctors d ON dbd.doctor_id = d.doctor_id
JOIN appointments a ON d.doctor_id = a.doctor_id
JOIN user u ON a.user_id = u.user_id
WHERE u.user_id = (SELECT user_id FROM user WHERE first_name = 'Drew' AND last_name = 'Smith')
AND a.appointment_date <= '2024-01-09';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: users
[SQL: SELECT hospitals.hospital_name
FROM appointments
JOIN users ON appointments.user_id = users.user_id
JOIN hospitals ON appointments.hospital_id = hospitals.hospital_id
WHERE users.user_id = (SELECT user_id FROM appointments WHERE appointment_date = (SELECT MAX(appointment_date) FROM appointments WHERE user_id = (SELECT user_id FROM users WHERE first_name = 'Drew' AND last_name = 'Smith')))
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "FETCH": syntax error
[SQL: SELECT test_result, test_units, test_reference_range, interpretation
FROM reports
WHERE user_id = (SELECT user_id FROM USER WHERE first_name = SUBSTRING(FIRST_NAME(SYSDATE), 1, 1) || SUBSTRING(FIRST_NAME(SYSDATE), 2, 1) || SUBSTRING(FIRST_NAME(SYSDATE), 3, 1) || SUBSTRING(LAST_NAME(SYSDATE), 1, 1) || SUBSTRING(LAST_NAME(SYSDATE), 2, 1) || SUBSTRING(LAST_NAME(SYSDATE), 3, 1) ORDER BY ROWNUM DESC FETCH NEXT 1 ROWS ONLY).
AND test_name = 'Urine Microalbumin'
ORDER BY report_date DESC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: doctors.first_name
[SQL: SELECT medicine.dosage, medicine.daily_frequency FROM medicine
JOIN medicine_by_diagnosis ON medicine.medicine_id = medicine_by_diagnosis.medicine_id
JOIN diagnosis_by_doctor ON diagnosis_by_doctor.diagnosis_id = diagnosis.diagnosis_id
JOIN diagnosis ON diagnosis_by_doctor.doctor_id = doctors.doctor_id
WHERE doctors.first_name = 'Your First Name' AND doctors.last_name = 'Your Last Name' AND medicine.medicine_name = 'Sitagliptin';

Please replace 'Your First Name' and 'Your Last Name' with the actual first and last names of the user. This SQL query will return the dosage and frequency of Sitagliptin medicine for the specified user.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: diagnosis_by_medicine
[SQL: SELECT d.diagnosis_name, dbd.recommendations
FROM diagnosis d
JOIN diagnosis_by_doctor dbd ON d.diagnosis_id = dbd.diagnosis_id
JOIN diagnosis_by_medicine dbm ON d.diagnosis_id = dbm.diagnosis_id
JOIN medicine_by_diagnosis mbd ON dbm.medicine_id = mbd.medicine_id
WHERE d.diagnosis_name = 'Diabetes Type 2'
AND EXISTS (SELECT 1 FROM appointments a WHERE a.user_id = (SELECT user_id FROM USER WHERE first_name = 'Drew' AND last_name = 'Smith') AND a.appointment_date <= CURDATE())
AND EXISTS (SELECT 1 FROM reports r WHERE r.user_id = (SELECT user_id FROM USER WHERE first_name = 'Drew' AND last_name = 'Smith') AND r.report_date <= CURDATE());]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "To": syntax error
[SQL: To answer this question, we first need to find the medicine with the name "iron polysaccharide" and its dosage frequency. Since the medicine table does not have a name column, we'll need to join it with the `medicine_by_diagnosis` table using the `diagnosis` table as an intermediary. The `diagnosis` table is not directly related to the user's medication, so we cannot directly retrieve this information.

However, assuming you have a diagnosis or a prescription with the correct medicine information, you can use the following query to retrieve the dosage frequency:

```sql
SELECT medicine_daily_frequency
FROM medicine
JOIN medicine_by_diagnosis ON medicine.medicine_id = medicine_by_diagnosis.medicine_id
WHERE medicine_name = 'iron polysaccharide';
```

This query will return the number of times you should take iron polysaccharide per day. If you don't have a diagnosis or prescription, you need to consult your doctor or healthcare provider for this information.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
You can only execute one statement at a time.
(sqlite3.OperationalError) no such column: r.test_reference_range_lower
[SQL: SELECT r.report_date, t.report_type_name, r.test_name, r.test_result, r.test_reference_range, CASE WHEN r.test_result < r.test_reference_range_lower OR r.test_result > r.test_reference_range_upper THEN 'Yes' ELSE 'No' END as concern
FROM reports r
JOIN report_type t ON r.report_type_id = t.report_type_id
WHERE r.user_id = (SELECT user_id FROM USER WHERE first_name = 'Drew' AND last_name = 'Smith')
AND r.report_date <= '2024-01-09';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such function: SUBSTRING_INDEX
[SQL: SELECT interpretation FROM reports WHERE user_id = (SELECT user_id FROM USER WHERE first_name = SUBSTRING_INDEX(REPLACE(LOWER('Drew Smith'), ' ', ''), ' ', -1) AND last_name = SUBSTRING_INDEX(REPLACE(LOWER('Smith'), ' ', ''), ' ', -1)) AND test_name = 'Creatinine' AND report_date = (SELECT MAX(report_date) FROM reports WHERE user_id = (SELECT user_id FROM USER WHERE first_name = SUBSTRING_INDEX(REPLACE(LOWER('Drew Smith'), ' ', ''), ' ', -1) AND last_name = SUBSTRING_INDEX(REPLACE(LOWER('Smith'), ' ', ''), ' ', -1))) ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
You can only execute one statement at a time.
(sqlite3.OperationalError) no such column: diagnosis.diagnosis_id
[SQL: SELECT medicine.dosage
FROM medicine
JOIN medicine_by_diagnosis ON medicine.medicine_id = medicine_by_diagnosis.medicine_id
JOIN diagnosis_by_doctor ON diagnosis_by_doctor.diagnosis_id = diagnosis.diagnosis_id
JOIN doctors ON doctors.doctor_id = diagnosis_by_doctor.doctor_id
JOIN appointments ON appointments.doctor_id = doctors.doctor_id
JOIN user ON appointments.user_id = user.user_id
WHERE user.user_id = (SELECT user_id FROM appointments WHERE appointments.appointment_date = '2024-01-18' OR appointments.appointment_date = '2024-04-24') -- replace with the actual user's appointment dates
AND medicine_by_diagnosis.diagnosis_id = diagnosis.diagnosis_id
AND diagnosis.diagnosis_name = 'Diabetes Type 2' -- replace with the actual diagnosis
AND doctors.last_name = 'Jackson' OR doctors.last_name = 'Hernandez' OR doctors.last_name = 'Martin' -- replace with the actual doctor's last name
AND appointments.appointment_date <= '2024-01-09' -- replace with the current date
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: diagnoses
[SQL: SELECT DISTINCT r.user_id, d.diagnosis_name, m.medicine_name, r.report_date, r.test_result
FROM reports r
JOIN diagnoses d ON r.diagnosis_id = d.diagnosis_id
JOIN medicine_by_diagnosis mb ON d.diagnosis_id = mb.diagnosis_id
JOIN medicine m ON mb.medicine_id = m.medicine_id
WHERE r.user_id = (SELECT user_id FROM USER WHERE first_name = 'Drew' AND last_name = 'Smith')
AND r.report_date >= '2024-01-01' AND r.report_date <= CURDATE()
AND r.test_result NOT IN (SELECT test_reference_range FROM reports WHERE user_id = (SELECT user_id FROM USER WHERE first_name = 'Drew' AND last_name = 'Smith'))
ORDER BY r.report_date DESC;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: USER
[SQL: SELECT test_result FROM reports WHERE user_id = (SELECT user_id FROM USER WHERE first_name = SUBSTRING(FIRST_NAME(USER), 1, 1) AND last_name = SUBSTRING(LAST_NAME(USER), 1, 1) AND YEAR(birth_date) = YEAR(CURRENT_DATE) - YEAR(STR_TO_DATE('01/09/2024', '%d/%m/%Y'))) AND test_name = 'Platelet count' AND report_type_id = (SELECT report_type_id FROM report_type WHERE report_type_name = 'Blood report') ORDER BY report_date DESC LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such function: GETDATE
[SQL: SELECT AVG(reports.test_result) AS Average_Blood_Glucose,
       COUNT(DISTINCT reports.report_id) AS Number_Of_Reports
FROM reports
JOIN medicine_by_diagnosis ON reports.report_id = medicine_by_diagnosis.report_id
JOIN diagnosis ON medicine_by_diagnosis.diagnosis_id = diagnosis.diagnosis_id
JOIN diagnosis_by_doctor ON diagnosis.diagnosis_id = diagnosis_by_doctor.diagnosis_id
JOIN doctors ON diagnosis_by_doctor.doctor_id = doctors.doctor_id
JOIN appointments ON doctors.doctor_id = appointments.doctor_id
JOIN USER ON appointments.user_id = USER.user_id
WHERE USER.first_name = '<Your_First_Name>' AND USER.last_name = '<Your_Last_Name>' AND diagnosis.diagnosis_name = 'Diabetes Type 2' AND reports.report_type_id IN (1) -- Replace (1) with the appropriate report_type_id for blood glucose tests
AND reports.report_date BETWEEN DATEADD(month, -6, GETDATE()) AND GETDATE() -- Adjust the time frame as needed
GROUP BY reports.report_id;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: doctors.first_name
[SQL: SELECT medicine.dosage, medicine.daily_frequency FROM medicine
JOIN medicine_by_diagnosis ON medicine.medicine_id = medicine_by_diagnosis.medicine_id
JOIN diagnosis_by_doctor ON diagnosis_by_doctor.diagnosis_id = diagnosis.diagnosis_id
JOIN diagnosis ON diagnosis_by_doctor.doctor_id = doctors.doctor_id
JOIN appointments ON appointments.user_id = USER.user_id
WHERE medicine.medicine_name = 'Metformin' AND doctors.first_name = (SELECT first_name FROM USER WHERE user_id = appointments.user_id);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "'1 month'": syntax error
[SQL: SELECT DATE_TRUNC('month', r.report_date) AS ReportMonth,
       r.test_name,
       r.test_result,
       r.test_units,
       r.test_reference_range,
       r.interpretation
FROM reports r
WHERE r.user_id = 1 AND
      r.report_date >= DATE_TRUNC('month', CURRENT_DATE) - INTERVAL '1 month';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "<": syntax error
[SQL: SELECT DISTINCT report_type_id FROM reports WHERE user_id = (SELECT user_id FROM USER WHERE first_name = <YourFirstName> AND last_name = <YourLastName>);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: doctors.user_id
[SQL: SELECT appointment_date FROM appointments WHERE user_id = (SELECT user_id FROM USER JOIN doctors ON USER.user_id = doctors.user_id WHERE doctors.specialization_id = (SELECT specialization_id FROM doctor_specialization WHERE specialization_name = 'Endocrinologist')) AND doctor_id = (SELECT doctor_id FROM doctors WHERE first_name = SUBSTRING(first_name, 1, 1) || SUBSTRING(last_name, 1, 1) || SUBSTRING(last_name, LEN(last_name) - 1, 1) ORDER BY LEN(last_name) DESC, LEN(last_name) = LEN(first_name) DESC, last_name <> first_name DESC LIMIT 1);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such function: YEAR
[SQL: SELECT SUM(payment_total)
FROM appointments
WHERE YEAR(appointment_date) = YEAR(CURRENT_DATE);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: daily_frequency
[SQL: SELECT SUM(daily_frequency) as total_daily_doses
FROM medicine_by_diagnosis
JOIN diagnosis ON medicine_by_diagnosis.diagnosis_id = diagnosis.diagnosis_id
JOIN diagnosis_by_doctor ON diagnosis.diagnosis_id = diagnosis_by_doctor.diagnosis_id
JOIN doctors ON diagnosis_by_doctor.doctor_id = doctors.doctor_id
JOIN appointments ON doctors.doctor_id = appointments.doctor_id
JOIN user ON appointments.user_id = user.user_id
WHERE user.user_id = (SELECT user_id FROM user WHERE first_name = 'Drew' AND last_name = 'Smith')
AND appointments.appointment_date <= '2024-01-09';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such function: CURDATE
[SQL: SELECT a.appointment_date, h.hospital_name
FROM appointments AS a
JOIN hospitals AS h ON a.hospital_id = h.hospital_id
WHERE a.user_id = 1 AND a.appointment_date > CURDATE()
ORDER BY a.appointment_date ASC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such function: CURDATE
[SQL: SELECT d.first_name, d.last_name
FROM appointments a
JOIN doctors d ON a.doctor_id = d.doctor_id
JOIN appointments AS next_appointment ON d.doctor_id = next_appointment.doctor_id
WHERE a.user_id = 1 AND a.appointment_date < CURDATE() AND next_appointment.appointment_date >= CURDATE()
ORDER BY next_appointment.appointment_date ASC
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "To": syntax error
[SQL: To find the user's next appointment and provide the necessary SQL command to cancel it, first, let's find the user's next appointment date. Then, we can provide a SQL command to update the appointments table to cancel the appointment.

Here's the SQL query to find the user's next appointment date:

```sql
SELECT MIN(appointment_date) as next_appointment_date
FROM appointments
WHERE user_id = 1 AND appointment_date > '2024-01-09';
```

Now let's create a SQL command to cancel the appointment by setting its status to 'Cancelled'.

```sql
UPDATE appointments
SET status = 'Cancelled'
WHERE user_id = 1 AND appointment_date = (SELECT MIN(appointment_date) as next_appointment_date FROM appointments WHERE user_id = 1 AND appointment_date > '2024-01-09');
```

Please note that the 'status' column is not provided in the schema, so you might need to add this column to the appointments table with a default value of 'Scheduled' or similar before running this command.

The first SQL query finds the next appointment date for user_id 1, and the second SQL query cancels this appointment.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: h.hospital_id
[SQL: SELECT d.first_name, d.last_name, d.phone_number
FROM doctors d
JOIN medicine_by_diagnosis mbd ON d.doctor_id = mbd.doctor_id
JOIN diagnosis dg ON mbd.diagnosis_id = dg.diagnosis_id
JOIN medicine m ON m.medicine_id = mbd.medicine_id
WHERE m.medicine_name = 'Metformin' AND d.hospital_id IN (
    SELECT h.hospital_id
    FROM appointments a
    JOIN USER u ON a.user_id = u.user_id
    WHERE u.first_name = 'Drew' AND u.last_name = 'Smith'
)
ORDER BY d.last_name;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "To": syntax error
[SQL: To answer the user's question about the severity of their diabetes, we need to analyze their blood glucose levels and compare them to the normal range. We can use the `reports` table to find the user's blood glucose levels and the `diagnosis` table to confirm that the user has diabetes.

Here's the SQL query that satisfies the given conditions:

```sql
SELECT CASE
        WHEN AVG(reports.test_result) < 130 THEN 'Your diabetes is under control.'
        WHEN AVG(reports.test_result) BETWEEN 130 AND 170 THEN 'Your diabetes is managed but requires closer monitoring.'
        ELSE 'Your diabetes is not well-controlled and may be dangerous.'
    END AS diabetes_status
FROM reports
JOIN user ON reports.user_id = user.user_id
WHERE user.first_name = 'Drew' AND user.last_name = 'Smith' AND reports.test_name = 'Hemoglobin A1c' AND reports.test_type_id = 1 AND reports.report_date >= '2023-01-01' AND reports.report_date <= CURDATE();
```

This query calculates the average Hemoglobin A1c level for the user Drew Smith over a specific date range (from January 1st, 2023, to the current date) and classifies the diabetes status based on the average results.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: dosage_recommendations
[SQL: SELECT m.medicine_name, m.dosage, (m.dosage * m.daily_frequency) AS total_dosage, d.recommendations
FROM medicine m
JOIN medicine_by_diagnosis mb ON m.medicine_id = mb.medicine_id
JOIN diagnosis d ON mb.diagnosis_id = d.diagnosis_id
JOIN appointments a ON a.user_id = (SELECT user_id FROM USER WHERE first_name = 'Drew' AND last_name = 'Smith')
WHERE a.appointment_date <= DATE(CURRENT_DATE)
AND m.dosage * m.daily_frequency > (SELECT recommendation_value FROM dosage_recommendations WHERE recommendation_name = d.recommendations)
LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: Dosage_Guidelines
[SQL: SELECT d.diagnosis_name, REPLACE(d.recommendations, INcorrect_part, Correct_part) AS Corrected_recommendations
FROM diagnosis d
JOIN diagnosis_by_doctor dbd ON d.diagnosis_id = dbd.diagnosis_id
JOIN doctors dct ON dbd.doctor_id = dct.doctor_id
WHERE dct.email = 'your_email@example.com' -- Replace 'your_email@example.com' with the actual email of the user
AND dct.hospital_id IN (SELECT hospital_id FROM hospitals) -- Replace this subquery with the actual hospital IDs if necessary
AND STRFTIME('%Y-%m', d.diagnosis_date) <= STRFTIME('%Y-%m', '2024-01-09') -- This condition filters diagnoses that are within the last 3 months
AND NOT EXISTS (
    SELECT 1
    FROM Medicine m
    JOIN medicine_by_diagnosis mbd ON m.medicine_id = mbd.medicine_id
    WHERE mbd.diagnosis_id = d.diagnosis_id
    AND m.dosage NOT IN (SELECT dosage FROM Dosage_Guidelines WHERE diagnosis_id = d.diagnosis_id) -- Replace this subquery with the actual dosage guidelines for each diagnosis
) -- This condition checks if the recommended dosage for each medicine is within the guidelines
AND NOT EXISTS (
    SELECT 1
    FROM Nutrient_Guidelines ng
    WHERE ng.diagnosis_id = d.diagnosis_id
    AND NOT EXISTS (
        SELECT 1
        FROM Foods f
        WHERE f.food_name IN (
            SEPARATE_STRING(d.recommendations, ' ', ',') -- This function separates the recommendations into individual food names
        )
        AND f.nutrient_id IN (
            SELECT nutrient_id FROM Nutrients WHERE food_id = f.food_id
        )
        AND f.nutrient_value < ng.lower_bound -- This condition checks if the nutrient value of each food is within the guidelines
        OR f.nutrient_value > ng.upper_bound -- This condition checks if the nutrient value of each food is within the guidelines
    )
) -- This condition checks if the nutrient value of each food in the recommendations is within the guidelines
AND EXISTS ( -- This condition checks if there are any incorrect parts in the recommendations
    SELECT 1
    FROM (
        SELECT
            SUBSTRING_INDEX(d.recommendations, ' ', NUMBER_OF_EXTRACTS(d.recommendations, ' ')) AS recommendation_part,
            COUNT(*) OVER () AS total_parts
        FROM diagnosis d
        JOIN diagnosis_by_doctor dbd ON d.diagnosis_id = dbd.diagnosis_id
        JOIN doctors dct ON dbd.doctor_id = dct.doctor_id
        WHERE dct.email = 'your_email@example.com' -- Replace 'your_email@example.com' with the actual email of the user
        AND dct.hospital_id IN (SELECT hospital_id FROM hospitals) -- Replace this subquery with the actual hospital IDs if necessary
        AND STRFTIME('%Y-%m', d.diagnosis_date) <= STRFTIME('%Y-%m', '2024-01-09') -- This condition filters diagnoses that are within the last 3 months
    ) t
    WHERE t.total_parts > 1
    AND NOT EXISTS (
        SELECT 1
        FROM (
            SELECT
                SUBSTRING_INDEX(d.recommendations, ' ', NUMBER_OF_EXTRACTS(d.recommendations, ' ')) AS recommendation_part,
                COUNT(*) OVER () AS total_parts
            FROM diagnosis d
            JOIN diagnosis_by_doctor dbd ON d.diagnosis_id = dbd.diagnosis_id
            JOIN doctors dct ON dbd.doctor_id = dct.doctor_id
            WHERE dct.email = 'your_email@example.com' -- Replace 'your_email@example.com' with the actual email of the user

In [25]:
write_first_element_to_txt('evaluation_files/open-mistral-7b_2.csv',"output.txt")

#### Mistral large latest

In [6]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "mistral-large-latest"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_1:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB)
        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

        query = query.replace("\n", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    time.sleep(20)
    output_filename = f"evaluation_files/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}
Error during chat completion: API error occurred: Status 429
{"message":"Requests rate limit exceeded"}

In [25]:
import csv

def read_second_element_from_csv(file_path):
    second_elements = []
    with open(file_path, mode='r', newline='') as file:
        reader = csv.reader(file)
        for row in reader:
            if len(row) > 1:  # Ensure there are at least two elements in the row
                second_elements.append(row[1])
    return second_elements

# Example usage:
result = read_second_element_from_csv('evaluation_files/open-mistral-7b_1.csv')

for idx, query in enumerate(result):
    try:
        e = DB.run(query)
        print(f"{idx} - {e}")
    except:
        print(f"{idx} - ERROR")

0 - ERROR
1 - ERROR
2 - ERROR
3 - ERROR
4 - ERROR
5 - ERROR
6 - ERROR
7 - ERROR
8 - ERROR
9 - ERROR
10 - ERROR
11 - [('Normal',)]
12 - [('Hemoglobin',), ('Cholesterol',), ('Glucose',)]
13 - ERROR
14 - ERROR
15 - ERROR
16 - ERROR
17 - ERROR
18 - ERROR
19 - [(405.0,)]
20 - ERROR
21 - ERROR
22 - ERROR
23 - ERROR
24 - ERROR
25 - ERROR
26 - [('%',)]
27 - [(1,)]
28 - ERROR
29 - ERROR
30 - [('Take Paracetamol',)]
31 - [(5.5,)]
32 - [('Normal',)]
33 -
34 - ERROR
35 - ERROR
36 - [('50-62',)]
37 - [('michaelsmith@gmail.com',)]
38 - [('janedoe@gmail.com',)]
39 - ERROR
40 - ERROR
41 - ERROR
42 - ERROR
43 - ERROR
44 - ERROR
45 - ERROR
46 - [(4,)]
47 - [('mg/dL',)]
48 - ERROR
49 - ERROR
50 - ERROR

In [23]:
def write_first_element_to_txt(csv_file_path, txt_file_path):
    with open(csv_file_path, mode='r', newline='') as csv_file:
        reader = csv.reader(csv_file)
        with open(txt_file_path, mode='w') as txt_file:
            for row in reader:
                if len(row) > 0:  # Ensure there's at least one element in the row
                    txt_file.write(row[0] + '\n')

write_first_element_to_txt('evaluation_files/mistral-large-latest_2.csv', 'output.txt')

Testset 2

In [10]:
MODEL = "mistral-large-latest"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_2:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB2)
        
        time.sleep(5)

        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        print(e)
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    time.sleep(15)
    output_filename = f"evaluation_files/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

Error during chat completion: Server disconnected without sending a response.
Error during chat completion: Server disconnected without sending a response.

(sqlite3.OperationalError) near "An": syntax error
[SQL: An error occurred while processing your request: Server disconnected without sending a response.]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [27]:
write_first_element_to_txt('evaluation_files/mistral-large-latest_2.csv',"output.txt")

#### Claude 3 Sonnet

In [3]:
from LLMs import PREM_LLM_Chatbot
import os

MODEL = 'claude-3.5-sonnet'
api_key = os.getenv("PREMAI_API_KEY")
claude = PREM_LLM_Chatbot(model_name=MODEL, api_key='POmkLj3PdIOiE8Z0tOv8cATgRrmLOu8B7z', project_id=5834)

query = generate_query(llm=claude, template=SUBCHAIN_PROMPT, question="What is the user's name?", db=DB)
print(query)

SELECT first_name, last_name FROM "USER" LIMIT 1;

In [8]:
from LLMs import PREM_LLM_Chatbot
import os
MODEL = 'claude-3.5-sonnet'
api_key = os.getenv("PREMAI_API_KEY")
claude = PREM_LLM_Chatbot(model_name=MODEL, api_key=api_key, project_id=5834)

sql_predictions = []

for q in testset_1:

    try:
        start_time = time.time()

        query = generate_query(llm=claude, template=SUBCHAIN_PROMPT, question=q, db=DB)
        time.sleep(5)
        response = generate_response(llm=claude, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    time.sleep(3)
    output_filename = f"evaluation_files/SQL/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

In [9]:
write_first_element_to_txt("/Users/mymac/LLM/Personal-Medical-Assistant/backend/full_chain/evaluation_files/SQL/claude-3.5-sonnet_1.csv", "out.txt")

testset 2

In [10]:
from LLMs import PREM_LLM_Chatbot

MODEL = 'claude-3.5-sonnet'
api_key = os.getenv("PREMAI_API_KEY")
claude = PREM_LLM_Chatbot(model_name=MODEL, api_key=api_key, project_id=5834)

sql_predictions = []

for q in testset_2:

    try:
        start_time = time.time()

        query = generate_query(llm=claude, template=SUBCHAIN_PROMPT, question=q, db=DB2)
        response = generate_response(llm=claude, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    time.sleep(15)
    output_filename = f"evaluation_files/SQL/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

write_first_element_to_txt("/Users/mymac/LLM/Personal-Medical-Assistant/backend/full_chain/evaluation_files/SQL/claude-3.5-sonnet_2.csv", "out.txt")

#### GPT4o

In [17]:
import os

MODEL = 'claude-3.5-sonnet'
LANGDOCK_API_KEY = os.getenv("langdock_api_key")
LANGDOCK_BASE_URL = os.getenv("langdock_base_url")
gpt4 = langdock_LLM_Chatbot(model_name=MODEL, api_key=LANGDOCK_API_KEY, base_url=LANGDOCK_BASE_URL)

query = generate_query(llm=gpt4, template=SUBCHAIN_PROMPT, question="What is the user's name?", db=DB)
print(query)

Error during chat completion: Error code: 400 - {'message': 'Invalid model, available models are: gpt-4, gpt-35-turbo, gpt-4o, gpt-4o-mini'}

An error occurred while processing your request: Error code: 400 - {'message': 'Invalid model, available models are: gpt-4, gpt-35-turbo, gpt-4o, gpt-4o-mini'}

In [ ]:
from LLMs import PREM_LLM_Chatbot

MODEL = 'gpt-4o'
LANGDOCK_API_KEY = os.getenv("langdock_api_key")
LANGDOCK_BASE_URL = os.getenv("langdock_base_url")
gpt4 = langdock_LLM_Chatbot(model_name=MODEL, api_key=LANGDOCK_API_KEY, base_url=LANGDOCK_BASE_URL)

sql_predictions = []

for q in testset_1:

    try:
        start_time = time.time()

        query = generate_query(llm=claude, template=SUBCHAIN_PROMPT, question=q, db=DB)
        response = generate_response(llm=claude, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    # time.sleep(15)
    output_filename = f"evaluation_files/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

In [38]:
write_first_element_to_txt('evaluation_files/gpt-4o_1.csv', 'output.txt')

testset 2

In [ ]:
MODEL = 'gpt-4o'
LANGDOCK_API_KEY = os.getenv("langdock_api_key")
LANGDOCK_BASE_URL = os.getenv("langdock_base_url")
claude = langdock_LLM_Chatbot(model_name=MODEL, api_key=LANGDOCK_API_KEY, base_url=LANGDOCK_BASE_URL)

sql_predictions = []

for q in testset_2:

    try:
        start_time = time.time()

        query = generate_query(llm=claude, template=SUBCHAIN_PROMPT, question=q, db=DB2)
        response = generate_response(llm=claude, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    # time.sleep(15)
    output_filename = f"evaluation_files/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

In [39]:
write_first_element_to_txt('evaluation_files/gpt-4o_2.csv', 'output.txt')

#### Fine Tuned Model 1

In [5]:
from LLMs import MISTRAL_LLM_Chatbot
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")
MODEL = "ft:open-mistral-7b:5695b7ee:20240828:75b8298a"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question="What is the user's name?", db=DB2)

In [28]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "ft:open-mistral-7b:5695b7ee:20240828:75b8298a"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_1:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB)

        time.sleep(5)
        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        print(e)
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))
    time.sleep(5)
    output_filename = f"evaluation_files/FT-mistral_SQL1_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

(sqlite3.OperationalError) no such column: T2.test_result
[SQL: SELECT T2.test_result FROM reports AS T1 JOIN report_type AS T2 ON T1.report_type_id  =  T2.report_type_id JOIN medicine AS T3 ON T1.hospital_id  =  T3.hospital_id WHERE T1.first_name  =  "Belen" AND T1.last_name  =  "Tavares" AND T2.report_type_name  =  "Blood report" ORDER BY T1.report_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: appointment
[SQL: SELECT T1.medicine_name ,  T2.dosage FROM medicine_by_diagnosis AS T1 JOIN medicine AS T2 ON T1.medicine_id = T2.medicine_id JOIN doctors AS T3 ON T3.doctor_id = T1.doctor_id JOIN appointment AS T4 ON T3.doctor_id = T4.doctor_id WHERE T4.user_id = (SELECT user_id FROM appointment WHERE appointment_date  =  CURDATE())]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.hospital_name
[SQL: SELECT T1.hospital_name FROM appointments AS T1 JOIN hospitals AS T2 ON T1.hospital_id  =  T2.hospital_id ORDER BY T1.appointment_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.daily_frequency
[SQL: SELECT T2.daily_frequency FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id WHERE T1.medicine_name  =  'Lisinopril';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.ProgrammingError) Incorrect number of bindings supplied. The current statement uses 1, and there are 0 supplied.
[SQL: SELECT T1.interpretation FROM reports AS T1 JOIN user AS T2 ON T1.user_id = T2.user_id WHERE T2.user_id = ? AND T1.test_name = "Creatinine" ORDER BY T1.report_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/f405)
(sqlite3.OperationalError) no such column: T2.medicine_name
[SQL: SELECT T2.medicine_name FROM diagnosis AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id WHERE T1.diagnosis_name  =  "Allergy"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: blood_tests
[SQL: SELECT T2.platelet_count FROM reports AS T1 JOIN blood_tests AS T2 ON T1.report_id  =  T2.report_id WHERE T1.user_id  =  1 ORDER BY T1.report_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: doctor_by_diagnosis
[SQL: SELECT T3.first_name ,  T3.last_name FROM appointments AS T1 JOIN diagnosis AS T2 ON T1.appointment_id  =  T2.appointment_id JOIN doctor_by_diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id JOIN doctors AS T4 ON T3.doctor_id  =  T4.doctor_id JOIN USER AS T5 ON T1.user_id  =  T5.user_id WHERE T5.birth_date LIKE "%1990-12%" AND T2.diagnosis_name  =  "Flu"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.dosage
[SQL: SELECT t1.dosage ,  t1.daily_frequency FROM medicine_by_diagnosis AS t1 JOIN diagnosis AS t2 ON t1.diagnosis_id = t2.diagnosis_id WHERE t2.diagnosis_name  =  'Diabetes']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t2.recommendations
[SQL: SELECT t2.recommendations FROM appointments AS t1 JOIN diagnosis_by_doctor AS t2 ON t1.doctor_id  =  t2.doctor_id WHERE t1.user_id  =  1 AND t1.diagnosis_id  =  2]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: report_result
[SQL: SELECT report_result FROM reports WHERE user_id  =  1 AND report_date  <=  DATEADD(day , -2 , GETDATE()) AND test_name  =  "Urinalysis"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "6": syntax error
[SQL: SELECT T1.report_id ,  T1.test_name ,  T1.test_result ,  T1.test_units ,  T1.test_reference_range ,  T1.interpretation ,  T2.report_date FROM reports AS T1 JOIN user AS T2 ON T1.user_id  =  T2.user_id WHERE T1.report_date  >=  DATE(DATE_SUB(now(), INTERVAL 6 MONTH))]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.recommendations
[SQL: SELECT t1.recommendations FROM diagnosis_by_doctor AS t1 JOIN diagnosis AS t2 ON t1.diagnosis_id = t2.diagnosis_id WHERE t2.diagnosis_name = "cold"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.interpretation
[SQL: SELECT T2.interpretation FROM reports AS T1 JOIN diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id WHERE T1.test_name  =  'Bilirubin' ORDER BY T1.report_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.user_id
[SQL: SELECT t2.phone_number FROM doctors AS t1 JOIN USER AS t2 ON t1.user_id  =  t2.user_id WHERE t1.first_name  =  "John" AND t1.last_name  =  "Doe"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.specialization_name
[SQL: SELECT T1.specialization_name FROM doctors AS T1 JOIN doctor_specialization AS T2 ON T1.specialization_id  =  T2.specialization_id WHERE T1.first_name  =  "Michael" AND T1.last_name  =  "Smith"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: specialization_name
[SQL: SELECT specialization_name FROM doctors WHERE first_name  =  "Maria" AND last_name  =  "Garcia"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: hospital_clinics
[SQL: SELECT T2.address_line FROM hospitals AS T1 JOIN hospital_clinics AS T2 ON T1.hospital_id  =  T2.hospital_id WHERE T1.hospital_name  =  'Cedars-Sinai Medical Center']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.diagnosis_name
[SQL: SELECT T2.diagnosis_name ,  T3.medicine_name FROM appointments AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.doctor_id  =  T2.doctor_id JOIN medicine_by_diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id WHERE T1.appointment_date  =  '2024-04-22']
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [29]:
write_first_element_to_txt('evaluation_files/FT-mistral_SQL1_1.csv', 'output.txt')

Testset 2

In [9]:
from LLMs import MISTRAL_LLM_Chatbot
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")
MODEL = "ft:open-mistral-7b:5695b7ee:20240828:75b8298a"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_2:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB2)

        time.sleep(5)


        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

        end_time = time.time()


        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")

        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        print(e)
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    output_filename = f"evaluation_files/{MODEL}1_2.csv"
    time.sleep(5)
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

(sqlite3.OperationalError) no such table: prescription
[SQL: SELECT medicine_name ,  T2.dosage FROM prescription AS T1 JOIN medicine AS T2 ON T1.medicine_id  =  T2.medicine_id WHERE T1.user_id  =  1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.hospital_name
[SQL: SELECT T1.hospital_name FROM appointments AS T1 JOIN USER AS T2 ON T1.user_id  =  T2.user_id ORDER BY T1.appointment_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: appointment
[SQL: SELECT T1.dosage ,  T1.daily_frequency FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id JOIN appointment AS T4 ON T4.appointment_id  =  T3.appointment_id WHERE T4.user_id  =  1 AND T3.diagnosis_name  =  "Type 2 Diabetes"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: medicine_daily_frequency
[SQL: SELECT medicine_daily_frequency FROM medicine WHERE medicine_name = 'Iron polysaccharide';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.test_reference_range
[SQL: SELECT t1.test_reference_range ,  t2.test_result FROM report_type AS t1 JOIN reports AS t2 ON t1.report_type_id  =  t2.report_type_id WHERE t2.test_name  =  'Blood glucose']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.test_reference_range
[SQL: SELECT T1.report_id ,  T1.test_name ,  T1.test_result ,  T1.test_reference_range FROM reports AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.user_id  =  T2.user_id WHERE T1.test_result NOT IN (SELECT T2.test_reference_range FROM reports AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.user_id  =  T2.user_id) OR T1.test_result  <  (SELECT T2.test_reference_range FROM reports AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.user_id  =  T2.user_id)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.doctor_id
[SQL: SELECT T1.test_name FROM reports AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.doctor_id  =  T2.doctor_id JOIN medicine_by_diagnosis AS T3 ON T3.diagnosis_id  =  T2.diagnosis_id JOIN medicine AS T4 ON T4.medicine_id  =  T3.medicine_id WHERE interpretation  =  'High']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T3.appointment_date
[SQL: SELECT T3.appointment_date FROM appointments AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.doctor_id  =  T2.doctor_id JOIN diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id WHERE T3.diagnosis_name  =  'Liraglutide (GLP-1 Receptor Agonists)']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: medicine_dosage
[SQL: SELECT medicine_dosage FROM medicine_by_diagnosis WHERE medicine_id = (SELECT medicine_id FROM medicine_by_diagnosis WHERE diagnosis_id = (SELECT diagnosis_id FROM diagnosis_by_doctor WHERE doctor_id = (SELECT doctor_id FROM appointments WHERE appointment_id = (SELECT appointment_id FROM appointments WHERE user_id = 1))))]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.medicine_name
[SQL: SELECT T1.medicine_name ,  T2.test_name ,  T3.diagnosis_name FROM medicine_by_diagnosis AS T1 JOIN reports AS T2 ON T1.medicine_id = T2.medicine_id JOIN diagnosis AS T3 ON T1.diagnosis_id = T3.diagnosis_id WHERE T2.user_id = 1 AND T2.hospital_id = 1 AND T2.interpretation != 'Normal']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.diagnose_id
[SQL: SELECT T1.diagnosis_name ,  T2.test_result FROM diagnosis AS T1 JOIN reports AS T2 ON T1.diagnose_id  =  T2.diagnose_id WHERE T1.diagnosis_name  =  'Diabetes Type 2']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.user_id
[SQL: SELECT T1.test_result FROM reports AS T1 JOIN diagnosis AS T2 ON T1.user_id  =  T2.user_id JOIN medicine AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id JOIN medicine_by_diagnosis AS T4 ON T3.medicine_id  =  T4.medicine_id JOIN diagnosis_by_doctor AS T5 ON T4.diagnosis_id  =  T5.diagnosis_id JOIN doctors AS T6 ON T5.doctor_id  =  T6.doctor_id WHERE T1.test_name  =  'Hemoglobin A1c']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T3.recommended_by
[SQL: SELECT T1.dosage ,  T1.daily_frequency FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id = T2.medicine_id JOIN diagnosis AS T3 ON T2.diagnosis_id = T3.diagnosis_id JOIN appointments AS T4 ON T4.doctor_id = T3.recommended_by WHERE T3.diagnosis_name  =  "Diabetes Type 2"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: report_type_name
[SQL: SELECT report_date ,  test_name ,  test_result ,  test_units ,  test_reference_range ,  report_type_name FROM reports WHERE user_id  =  1 AND report_date  >=  DATEADD(month , -1 , GETDATE())]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.report_id
[SQL: SELECT interpretation FROM reports WHERE report_id IN (SELECT report_id FROM reports AS T1 JOIN appointments AS T2 ON T1.report_id  =  T2.report_id WHERE T1.user_id  =  1) AND test_name  =  'Hemoglobin A1c']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: USER_HOSPITALS
[SQL: SELECT T2.hospital_name ,  T2.phone_number FROM hospitals AS T1 JOIN USER_HOSPITALS AS T2 ON T1.hospital_id  =  T2.hospital_id WHERE T1.hospital_name  =  "Virginia Hospital Center"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.ProgrammingError) Incorrect number of bindings supplied. The current statement uses 1, and there are 0 supplied.
[SQL: SELECT first_name ,  last_name ,  gender ,  birth_date ,  phone_number FROM USER WHERE user_id = ?]
(Background on this error at: https://sqlalche.me/e/20/f405)
(sqlite3.OperationalError) no such column: T1.hospital_name
[SQL: SELECT T1.hospital_name FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id = T2.doctor_id WHERE T2.first_name  =  'Drew' AND T1.appointment_date LIKE '2024%' LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.user_id
[SQL: SELECT count(*) FROM medicine AS t2 JOIN medicine_by_diagnosis AS t1 ON t2.medicine_id  =  t1.medicine_id WHERE t1.user_id  =  1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "1": syntax error
[SQL: SELECT T1.first_name ,  T1.last_name ,  T2.appointment_date FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id WHERE T1.appointment_date  >  DATE_SUB(CURDATE() , INTERVAL 1 DAY) ORDER BY T1.appointment_date ASC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.phone_number
[SQL: SELECT T1.phone_number FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN diagnosis AS T3 ON T3.diagnosis_id  =  T2.diagnosis_id JOIN diagnosis_by_doctor AS T4 ON T3.diagnosis_id  =  T4.diagnosis_id JOIN doctors AS T1_1 ON T1_1.doctor_id  =  T4.doctor_id WHERE T1.medicine_name  =  "Metformin"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t3.diagnosis_name
[SQL: SELECT t3.diagnosis_name FROM appointments AS t1 JOIN diagnosis AS t2 ON t1.diagnosis_id  =  t2.diagnosis_id JOIN diagnosis_by_doctor AS t3 ON t2.diagnosis_id  =  t3.diagnosis_id WHERE t1.user_id  =  1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: Medicine_name
[SQL: SELECT Medicine_name FROM medicine_by_diagnosis WHERE diagnosis_id IN (SELECT diagnosis_id FROM diagnosis WHERE diagnosis_name = 'Diabetes Type 2') AND Medicine_name NOT IN ('Metformin')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.daily_frequency
[SQL: SELECT T1.medicine_name ,  T2.daily_frequency ,  T3.dosage FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN appointments AS T3 ON T2.user_id  =  T3.user_id AND T2.appointment_id  =  T3.appointment_id WHERE T1.medicine_name NOT IN ('Metformin' ,  'Glyburide' ,  'Liraglutide (GLP-1 Receptor Agonists)') AND T2.daily_frequency  <  1 OR T1.medicine_name NOT IN ('Metformin' ,  'Glyburide' ,  'Liraglutide (GLP-1 Receptor Agonists)') AND T2.daily_frequency  =  1 AND T2.dosage  <  1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "%": syntax error
[SQL: SELECT diagnosis_name ,  recommendations FROM diagnosis WHERE recommendations NOT LIKE %'%]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: users
[SQL: SELECT T1.hospital_address_line FROM appointments AS T1 JOIN users AS T2 ON T1.user_id  =  T2.user_id ORDER BY T1.appointment_date DESC LIMIT 1 ;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [18]:
write_first_element_to_txt('evaluation_files/FT-mistral_SQL1_2.csv', 'output.txt')

#### FT2

In [33]:

from LLMs import MISTRAL_LLM_Chatbot

MODEL = "ft:open-mistral-7b:5695b7ee:20240828:c1b970c2"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_1:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB)

        time.sleep(5)
        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB)

        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        print(e)
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))
    time.sleep(5)
    output_filename = f"evaluation_files/FT2-mistral_SQL2_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

(sqlite3.OperationalError) no such column: T3.dosage
[SQL: SELECT T2.diagnosis_name ,  T3.dosage FROM appointments AS T1 JOIN diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id JOIN medicine_by_diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id WHERE T1.user_id  =  1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.hospital_name
[SQL: SELECT T1.hospital_name FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id WHERE T1.appointment_date  =  (SELECT appointment_date FROM appointments WHERE user_id  =  1 ORDER BY appointment_date DESC LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.diagnosis_name
[SQL: SELECT t3.recommendations FROM appointments AS t1 JOIN diagnosis_by_doctor AS t2 ON t1.doctor_id  =  t2.doctor_id JOIN diagnosis AS t3 ON t2.diagnosis_id  =  t3.diagnosis_id WHERE t1.diagnosis_name  =  "Diabetes"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.phone_number
[SQL: SELECT T1.phone_number FROM appointments AS T1 JOIN user AS T2 ON T1.user_id = T2.user_id ORDER BY T1.appointment_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.doctor_first_name
[SQL: SELECT T1.diagnosis_name FROM diagnosis AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id JOIN appointments AS T3 ON T2.doctor_id  =  T3.doctor_id WHERE T3.appointment_date  =  (SELECT appointment_date FROM appointments WHERE user_id  =  1 ORDER BY appointment_date DESC LIMIT 1) AND T2.doctor_first_name  =  'Jane' AND T2.doctor_last_name  =  'Doe';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T3.interpretation
[SQL: SELECT T1.test_name FROM reports AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.report_id = T2.report_id JOIN diagnosis AS T3 ON T3.diagnosis_id = T2.diagnosis_id WHERE T3.interpretation = "High"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.recommendations
[SQL: SELECT T2.recommendations FROM diagnosis AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.diagnosis_id = T2.diagnosis_id WHERE T1.diagnosis_name = "allergy";]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.address_line
[SQL: SELECT T2.address_line FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id JOIN hospitals AS T3 ON T2.hospital_id  =  T3.hospital_id WHERE T3.hospital_name  =  'Kindred Hospital Chicago North' AND T2.first_name = 'Belen' AND T2.last_name = 'Tavares';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.report_id
[SQL: SELECT T1.test_result FROM reports AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.report_id  =  T2.report_id WHERE T1.test_name  =  "Platelet count" AND T1.user_id  =  (SELECT user_id FROM appointments ORDER BY appointment_date DESC LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.first_name
[SQL: SELECT T1.first_name ,  T1.last_name ,  T2.diagnosis_name FROM appointments AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.doctor_id  =  T2.doctor_id WHERE T1.appointment_date LIKE '2023-%' AND T2.diagnosis_name  =  'Flu']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.city
[SQL: SELECT T1.first_name ,  T1.last_name FROM doctors AS T1 JOIN appointments AS T2 ON T1.doctor_id  =  T2.doctor_id WHERE T2.hospital_id  =  4 AND T1.city  =  "Miami"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: appointment_notes
[SQL: SELECT count(*) FROM medicine_by_diagnosis AS T1 JOIN diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id JOIN appointment_notes AS T3 ON T3.appointment_id  =  T1.appointment_id WHERE T2.diagnosis_name  =  'Allergic reaction' AND T3.medicine_name  =  'Cetirizine']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "2": syntax error
[SQL: SELECT T1.test_result FROM reports AS T1 JOIN appointments AS T2 ON T1.user_id  =  T2.user_id WHERE T2.appointment_date  =  date_sub(current_date ,  interval 2 day);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: month
[SQL: SELECT T1.report_date ,  T2.diagnosis_name FROM reports AS T1 JOIN diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id WHERE T1.report_date >= DATEADD(month , -6 , GETDATE())]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.recommendations
[SQL: SELECT T2.recommendations FROM appointments AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.doctor_id = T2.doctor_id WHERE T1.diagnosis_id = (SELECT diagnosis_id FROM diagnosis WHERE diagnosis_name = "Hypertension") AND T1.appointment_date = (SELECT appointment_date FROM appointments ORDER BY appointment_date DESC LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.recommendations
[SQL: SELECT T2.recommendations FROM diagnosis AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id WHERE T1.diagnosis_name  =  "Cold"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T3.Test_Result
[SQL: SELECT T3.Test_Result FROM appointments AS T1 JOIN diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id JOIN medicine_by_diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id WHERE T1.Payment_Total  =  60 AND T1.appointment_date  =  (SELECT max(appointment_date) FROM appointments WHERE user_id  =  1) AND T2.Diagnosis_Name  =  "Hemoglobin A1c"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: diagnoses
[SQL: SELECT T2.interpretation FROM reports AS T1 JOIN diagnoses AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id WHERE T1.test_name  =  "Bilirubin" AND T1.user_id = 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: doctors_specialization
[SQL: SELECT T1.email FROM doctors AS T1 JOIN doctors_specialization AS T2 ON T1.specialization_id  =  T2.specialization_id WHERE T1.first_name  =  "Michael" AND T1.last_name  =  "Smith"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.user_id
[SQL: SELECT T1.phone_number FROM doctors AS T1 JOIN user AS T2 ON T1.user_id  =  T2.user_id WHERE T2.first_name  =  "John" AND T2.last_name  =  "Doe"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.hospital_name
[SQL: SELECT T1.hospital_name FROM doctors AS T1 JOIN hospitals AS T2 ON T1.hospital_id  =  T2.hospital_id WHERE T1.first_name  =  'Jane' AND T1.last_name  =  'Doe';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.specialization_name
[SQL: SELECT T1.specialization_name FROM doctors AS T1 JOIN doctor_specialization AS T2 ON T1.specialization_id  =  T2.specialization_id WHERE T1.first_name  =  "Michael" AND T1.last_name  =  "Smith"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t1.user_id
[SQL: SELECT t2.specialization_name FROM doctors AS t1 JOIN doctor_specialization AS t2 ON t1.specialization_id  =  t2.specialization_id JOIN user AS t3 ON t1.user_id  =  t3.user_id WHERE t3.first_name  =  "Maria" AND t3.last_name  =  "Garcia";]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: doctor
[SQL: SELECT T1.address_line FROM hospitals AS T1 JOIN doctor AS T2 ON T1.hospital_id  =  T2.hospital_id WHERE T2.hospital_name  =  'Cedars-Sinai Medical Center']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.appointment_id
[SQL: SELECT T1.recommendations FROM diagnosis AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id JOIN appointments AS T3 ON T3.appointment_id  =  T2.appointment_id WHERE T3.appointment_date  =  (SELECT appointment_date FROM appointments WHERE user_id = 1 AND payment_total = 60 GROUP BY appointment_date ORDER BY appointment_date LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [35]:
write_first_element_to_txt('evaluation_files/FT2-mistral_SQL2_1.csv', 'output.txt')

Testset 2

In [30]:
from LLMs import MISTRAL_LLM_Chatbot
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")
MODEL = "ft:open-mistral-7b:5695b7ee:20240828:c1b970c2"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

sql_predictions = []

for q in testset_2:

    try:
        start_time = time.time()

        query = generate_query(llm=mistral, template=SUBCHAIN_PROMPT, question=q, db=DB2)

        time.sleep(5)


        response = generate_response(llm=mistral, query=query, template=FULLCHAIN_PROMPT, question=q, db=DB2)

        end_time = time.time()


        query = query.replace("\n", "").replace("  ", "")
        response = response.replace("\n", "")

        execution_time = end_time - start_time

        sql_predictions.append((response, query, execution_time))

    except Exception as e:
        print(e)
        query = query.replace("\n", "").replace("  ", "")

        sql_predictions.append(("Error", query))

    output_filename = f"evaluation_files/FT2-mistral7b_SQL_2.csv"
    time.sleep(5)
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

(sqlite3.OperationalError) no such column: report_date
[SQL: SELECT test_result FROM reports AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.user_id = T2.user_id WHERE T1.test_name = "Hemoglobin" AND T2.diagnosis_id = (SELECT diagnosis_id FROM diagnosis_by_doctor ORDER BY report_date DESC LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.medicine_name
[SQL: SELECT T1.medicine_name ,  T2.dosage FROM medicine_by_diagnosis AS T1 JOIN medicine AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN appointments AS T3 ON T3.doctor_id  =  T1.doctor_id WHERE T3.appointment_date  =  "2024-04-24"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: doctor
[SQL: SELECT T1.hospital_name FROM appointments AS T1 JOIN doctor AS T2 ON T1.doctor_id = T2.doctor_id WHERE T1.appointment_date = (SELECT max(appointment_date) FROM appointments WHERE user_id = 1);]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.user_id
[SQL: SELECT T2.dosage ,  T2.daily_frequency FROM medicine_by_diagnosis AS T1 JOIN medicine AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN appointments AS T3 ON T3.user_id  =  T1.user_id WHERE T2.medicine_name  =  "Sitagliptin"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.daily_frequency
[SQL: SELECT T2.daily_frequency FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id WHERE T1.medicine_name  =  'Iron polysaccharide']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: hospital
[SQL: SELECT T2.phone_number FROM doctors AS T1 JOIN hospital AS T2 ON T1.hospital_id  =  T2.hospital_id WHERE T1.specialization_id  =  "3"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: test_results
[SQL: SELECT T2.test_reference_range ,  T3.test_result FROM reports AS T1 JOIN test_results AS T2 ON T1.test_id  =  T2.test_id JOIN diagnoses AS T3 ON T1.diagnosis_id  =  T3.diagnosis_id WHERE T3.diagnosis_name  =  'Diabetes Type 2' AND T1.user_id  =  1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: t2.appointment_id
[SQL: SELECT t1.appointment_date FROM appointments AS t1 JOIN diagnosis_by_doctor AS t2 ON t1.appointment_id = t2.appointment_id JOIN medicine_by_diagnosis AS t3 ON t2.diagnosis_id = t3.diagnosis_id JOIN medicine AS t4 ON t3.medicine_id = t4.medicine_id WHERE t4.medicine_name = "Liraglutide (GLP-1 Receptor Agonists)";]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T3.doctor_id
[SQL: SELECT T1.dosage FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id JOIN doctors AS T4 ON T4.doctor_id  =  T3.doctor_id WHERE T4.first_name  =  "Drew" AND T4.last_name  =  "Smith"]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T7.user_id
[SQL: SELECT T1.medicine_name FROM medicine AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN diagnosis AS T3 ON T2.diagnosis_id  =  T3.diagnosis_id JOIN appointments AS T4 ON T4.user_id  =  T3.user_id WHERE T4.appointment_date  =  '2024-01-18' AND T3.diagnosis_name  =  'Diabetes Type 2' AND T1.dosage != (SELECT T5.dosage FROM medicine AS T5 JOIN medicine_by_diagnosis AS T6 ON T5.medicine_id  =  T6.medicine_id JOIN diagnosis AS T7 ON T6.diagnosis_id  =  T7.diagnosis_id JOIN appointments AS T8 ON T8.user_id  =  T7.user_id WHERE T8.appointment_date  =  '2024-04-24' AND T7.diagnosis_name  =  'Diabetes Type 2')]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: test_results
[SQL: SELECT T1.test_result FROM reports AS T1 JOIN test_results AS T2 ON T1.test_id  =  T2.test_id WHERE T1.test_name  =  "Platelet count" AND T1.user_id  =  1 ORDER BY T1.report_date DESC LIMIT 1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.appointment_id
[SQL: SELECT diagnosis_name FROM diagnosis AS T1 JOIN medicine_by_diagnosis AS T2 ON T1.diagnosis_id  =  T2.diagnosis_id JOIN reports AS T3 ON T2.appointment_id  =  T3.appointment_id WHERE T1.diagnosis_name  =  'Diabetes Type 2' AND T3.test_name  =  'Hemoglobin A1C' AND T3.test_result >= 6 AND T3.test_result < 8]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: blood_test
[SQL: SELECT T1.hemoglobin_A1c ,  T2.interpretation FROM blood_test AS T1 JOIN test_results AS T2 ON T1.blood_test_id  =  T2.blood_test_id WHERE T1.patient_id  =  1]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "1": syntax error
[SQL: SELECT T1.report_date ,  T2.report_type_name ,  T3.test_name ,  T3.test_result ,  T3.test_units FROM reports AS T1 JOIN report_type AS T2 ON T1.report_type_id  =  T2.report_type_id JOIN tests AS T3 ON T1.test_id  =  T3.test_id WHERE T1.report_date  >=  (DATE_SUB(CURDATE() , INTERVAL 1 MONTH))]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: user_appointments
[SQL: SELECT appointment_date FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id JOIN user_appointments AS T3 ON T1.appointment_id  =  T3.appointment_id WHERE T2.specialization_id  =  "1" AND T3.user_id = (SELECT user_id FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id JOIN user_appointments AS T3 ON T1.appointment_id  =  T3.appointment_id WHERE T2.specialization_id  =  "1" GROUP BY T1.appointment_id ORDER BY count(*) DESC LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.address_line
[SQL: SELECT T2.address_line FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id WHERE T2.hospital_id IN (SELECT hospital_id FROM hospitals WHERE hospital_name LIKE "%Virginia%")]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.address_line
[SQL: SELECT T1.address_line FROM appointments AS T1 JOIN hospitals AS T2 ON T1.hospital_id  =  T2.hospital_id JOIN user AS T3 ON T1.user_id  =  T3.user_id WHERE T3.first_name  =  "Drew" AND T3.last_name  =  "Smith" AND T1.appointment_date LIKE "2024-%" AND T1.appointment_id  =  (SELECT appointment_id FROM appointments WHERE appointment_date LIKE "2024-%" AND user_id  =  (SELECT user_id FROM user WHERE first_name  =  "Drew" AND last_name  =  "Smith") ORDER BY appointment_date ASC LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T1.first_name
[SQL: SELECT T1.first_name ,  T1.last_name FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id = T2.doctor_id WHERE T1.appointment_date =  "2024-04-24";]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: appointment_dates
[SQL: SELECT T2.appointment_date ,  T3.hospital_name FROM appointments AS T1 JOIN appointment_dates AS T2 ON T1.appointment_id  =  T2.appointment_id JOIN hospitals AS T3 ON T1.hospital_id  =  T3.hospital_id WHERE T1.user_id  =  "1" AND T2.appointment_date  =  (SELECT min(appointment_date) FROM appointments AS T4 JOIN appointment_dates AS T5 ON T4.appointment_id  =  T5.appointment_id WHERE T4.user_id  =  "1")]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) near "OFFSET": syntax error
[SQL: SELECT T1.first_name ,  T1.last_name FROM appointments AS T1 JOIN doctors AS T2 ON T1.doctor_id  =  T2.doctor_id WHERE T1.appointment_date  =  (SELECT appointment_date FROM appointments ORDER BY appointment_date LIMIT 1 , 1 OFFSET (SELECT count(*) FROM appointments WHERE appointment_date  =  (SELECT appointment_date FROM appointments ORDER BY appointment_date LIMIT 1) + 1) )]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.first_name
[SQL: SELECT T2.first_name ,  T2.last_name FROM medicine_by_diagnosis AS T1 JOIN medicine AS T2 ON T1.medicine_id  =  T2.medicine_id JOIN doctors AS T3 ON T1.doctor_id  =  T3.doctor_id WHERE T2.medicine_name  =  'Metformin']
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: user_id
[SQL: SELECT medicine_name ,  dosage FROM medicine WHERE user_id = 1 EXCEPT SELECT T2.medicine_name ,  T2.dosage FROM medicine_by_diagnosis AS T1 JOIN medicine AS T2 ON T1.medicine_id  =  T2.medicine_id WHERE T1.diagnosis_id IN (SELECT diagnosis_id FROM diagnosis_by_doctor WHERE doctor_id = 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such column: T2.recommendations
[SQL: SELECT T2.recommendations FROM appointments AS T1 JOIN diagnosis_by_doctor AS T2 ON T1.doctor_id = T2.doctor_id WHERE T1.appointment_date = (SELECT appointment_date FROM appointments ORDER BY appointment_date LIMIT 1)]
(Background on this error at: https://sqlalche.me/e/20/e3q8)
(sqlite3.OperationalError) no such table: user_appointments
[SQL: SELECT T1.appointment_date FROM appointments AS T1 JOIN user_appointments AS T2 ON T1.appointment_id  =  T2.appointment_id WHERE T2.user_id  =  1 ORDER BY T1.appointment_date DESC LIMIT 1;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [31]:
write_first_element_to_txt('evaluation_files/FT2-mistral7b_SQL_2.csv', 'output.txt')

### RAG QUERY PIPELINE (JSON METHOD)

In [3]:

import json
from LLMs import langdock_LLM_Chatbot
from helper import get_current_time

RAG_CONTEXT = """
You are a helpful medical assistant. 

Given the user question and the user medical data, answer the user's question to the best of your ability. The data is an sql database in JSON format. The data is the users personal medical data, so the user may use personal pronouns like 'my' when querying. It is okay to say you do not have the information the user is looking for.

Answer the users question to the best of your ability, ensuring to ONLY respond with information you find in the provided dataset. 

User question: {question}
User medical data: {user_data}

"""


def generate_RAG_query(llm, template, question, user_data):
    """
    Generates an SQL query.

    Parameters:
    llm (Class): Class instance of large language model
    template (str): Prompt for llm to follow
    question (str): User's question for the database

    Returns:
    out (str): LLM response
    """
    current_date = get_current_time()
    prompt = template.format(question=question, user_data=user_data, current_date=current_date)       #format template to include all necessary information (schema, question)
    answer = llm.chat_completion(prompt, question)         #generates sql query

    return answer


def read_json_file(file_path):
    """
    Reads a JSON file and returns its contents as a dictionary.

    Parameters:
    file_path (str): The path to the JSON file.

    Returns:
    dict: The contents of the JSON file as a dictionary.
    """

    with open(file_path, 'r') as file:
        data = json.load(file)
    return data


belen = 'med_assist.json'
drew = 'drew.json'

USER_DATA_1 = read_json_file(belen)
USER_DATA_2 = read_json_file(drew)

#### GPT4

In [11]:
from LLMs import langdock_LLM_Chatbot
MODEL = "gpt-4o"
llm_langdock =langdock_LLM_Chatbot(model_name=MODEL, api_key=LANGDOCK_API_KEY, base_url=LANGDOCK_BASE_URL) #instantiate anyscale llm object


sql_predictions = []
for q in testset_1:

    try:
        start_time = time.time()
        response = generate_query(llm=llm_langdock, template=context, user_data=USER_DATA_1, question=q)


        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, execution_time))

    except Exception as e:

        sql_predictions.append(("Error"))

    # time.sleep(15)
    output_filename = f"evaluation_files/JSON/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

In [12]:
from LLMs import langdock_LLM_Chatbot
MODEL = "gpt-4o"
llm_langdock =langdock_LLM_Chatbot(model_name=MODEL, api_key=LANGDOCK_API_KEY, base_url=LANGDOCK_BASE_URL) #instantiate anyscale llm object


sql_predictions = []
for q in testset_2:

    try:
        start_time = time.time()
        response = generate_query(llm=llm_langdock, template=context, user_data=USER_DATA_2, question=q)


        response = response.replace("\n", "")


        end_time = time.time()
        execution_time = end_time - start_time

        sql_predictions.append((response, execution_time))

    except Exception as e:

        sql_predictions.append(("Error"))

    # time.sleep(15)
    output_filename = f"evaluation_files/JSON/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(sql_predictions)

In [16]:
write_first_element_to_txt("/Users/mymac/LLM/Personal-Medical-Assistant/backend/full_chain/evaluation_files/JSON/gpt-4o_1.csv","output.txt")

#### Llama3

##### Test

In [16]:
import os
from LLMs import OCTOAI_LLM_Chatbot
OCTOAI_API_KEY = os.getenv("OCTOAI_TOKEN")

MODEL = "meta-llama-3-8b-instruct"

llm_octo =OCTOAI_LLM_Chatbot(model_name=MODEL, api_key=OCTOAI_API_KEY)

generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question="What is the user's name?", user_data=USER_DATA_1)

"Based on the provided data, the user's name is 'Belen Tavares'."

##### Testset 1

In [26]:
from LLMs import OCTOAI_LLM_Chatbot
MODEL = "meta-llama-3-8b-instruct"
llm_octo =OCTOAI_LLM_Chatbot(model_name=MODEL, api_key=OCTOAI_API_KEY)


predictions = []
for q in testset_1:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question=q, user_data=USER_DATA_1)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

In [18]:
write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

##### Testset 2

In [19]:
from LLMs import OCTOAI_LLM_Chatbot
MODEL = "meta-llama-3-8b-instruct"
llm_octo =OCTOAI_LLM_Chatbot(model_name=MODEL, api_key=OCTOAI_API_KEY)


predictions = []
for q in testset_2:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question=q, user_data=USER_DATA_2)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(str(e))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_2.csv', 'output.txt')

#### Mistral Large Latest

In [21]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "mistral-large-latest"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

generate_RAG_query(llm=mistral, template=RAG_CONTEXT, question="what is the user's name?", user_data=USER_DATA_2)

"The user's name is Drew Smith."

In [23]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "mistral-large-latest"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

predictions = []
for q in testset_1:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question=q, user_data=USER_DATA_1)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

##### Testset 2

In [27]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "mistral-large-latest"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

predictions = []
for q in testset_2:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question=q, user_data=USER_DATA_2)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_2.csv', 'output.txt')

#### Mistral 7b open

In [ ]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "open-mistral-7b"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

generate_RAG_query(llm=mistral, template=RAG_CONTEXT, question="what is the user's name?", user_data=USER_DATA_2)

In [31]:
from LLMs import MISTRAL_LLM_Chatbot
MODEL = "open-mistral-7b"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)


predictions = []
for q in testset_1:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=mistral, template=RAG_CONTEXT, question=q, user_data=USER_DATA_1)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

##### Testset 2

In [32]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "open-mistral-7b"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

predictions = []
for q in testset_2:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question=q, user_data=USER_DATA_2)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_2.csv', 'output.txt')

#### FT Model 2

In [28]:
from LLMs import MISTRAL_LLM_Chatbot
MODEL = "ft:open-mistral-7b:5695b7ee:20240828:c1b970c2"

MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

generate_RAG_query(llm=mistral, template=RAG_CONTEXT, question="what is the user's name?", user_data=USER_DATA_2)

'Drew Smith'

In [29]:
MODEL = "ft:open-mistral-7b:5695b7ee:20240828:c1b970c2"
mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)


predictions = []
for q in testset_1:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=mistral, template=RAG_CONTEXT, question=q, user_data=USER_DATA_1)

        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

##### Testset 2

In [30]:
from LLMs import MISTRAL_LLM_Chatbot

MODEL = "ft:open-mistral-7b:5695b7ee:20240828:c1b970c2"
MISTRAL_API_KEY = os.getenv("MISTRAL_API_KEY")

mistral = MISTRAL_LLM_Chatbot(model_name=MODEL,api_key=MISTRAL_API_KEY)

predictions = []
for q in testset_2:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=llm_octo, template=RAG_CONTEXT, question=q, user_data=USER_DATA_2)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_2.csv', 'output.txt')

#### Claude 3.5 Sonnet

In [4]:
s = testset_1[31:]
s

['What was the result of my Hemoglobin A1c in the last report?',
 'What was the interpretation of my Hemoglobin A1c in the last report?',
 'What was the interpretation of my bilirubin levels in the last report?',
 "What are all the dates of all the appointments I've had with cardiologists?",
 'How many times have I visited Cedars-Sinai for appointments?',
 'What are the normal reference ranges for neutrophils?',
 'What is the email of doctor Michael Smith?',
 'What is the email of doctor Jane Doe?',
 'What is the phone number of doctor John Doe?',
 'What is the phone number of doctor Maria Garcia?',
 'What hospital does Jane Doe work at?',
 'What kind of doctor is Michael Smith?',
 'What specialization is Maria Garcia?',
 'What is the phone number of NYU Langone?',
 'What is the address of Cedars-Sinai Medical Center?',
 'How many hospitals do I have listed?',
 'What units is the Cholesterol test in?',
 'When is my next upcoming appointment?',
 'Is there anything I should bring/prepare for my next appointment?',
 'Where is my next appointment?']

In [5]:
from LLMs import PREM_LLM_Chatbot
import os
import time

MODEL = 'claude-3.5-sonnet'
# api_key = os.getenv("PREMAI_API_KEY")
claude = PREM_LLM_Chatbot(model_name=MODEL, api_key="XM6XfOysbSOqDOkUjSLP5ASh5m7QqS9ZMr", project_id=5975)

predictions = []
SET = testset_1[31:]
for q in SET:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=claude, template=RAG_CONTEXT, question=q, user_data=USER_DATA_1)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_1.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

Error during chat completion: [Errno 54] Connection reset by peer

In [11]:
write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_1.csv', 'output.txt')

##### Testset 2

In [9]:
from LLMs import PREM_LLM_Chatbot
import os
import time
import csv

MODEL = 'claude-3.5-sonnet'
# MODEL = "gpt-4o"
api_key = "86T7rH6dZy5EpVwMzenrFJw9qPPlFYih0e"
claude = PREM_LLM_Chatbot(model_name=MODEL, api_key=api_key, project_id=5970)

predictions = []
for q in testset_2:

    try:
        start_time = time.time()
        response = generate_RAG_query(llm=claude, template=RAG_CONTEXT, question=q, user_data=USER_DATA_2)


        response = response.replace("\n", "")       #format for easy evaluation 


        end_time = time.time()
        execution_time = end_time - start_time

        predictions.append((response, execution_time))

    except Exception as e:

        predictions.append(("Error"))

    time.sleep(5)
    output_filename = f"evaluation_files/JSON/{MODEL}_2.csv"
    with open(output_filename, mode='w', newline='') as file:
            writer = csv.writer(file)
            
            # Write each tuple in the list to the CSV file
            writer.writerows(predictions)


write_first_element_to_txt(f'evaluation_files/JSON/{MODEL}_2.csv', 'output.txt')

Error during chat completion: Unexpected status code: 502, reason: b'<html>\r\n<head><title>502 Bad Gateway</title></head>\r\n<body>\r\n<center><h1>502 Bad Gateway</h1></center>\r\n<hr><center>cloudflare</center>\r\n</body>\r\n</html>\r\n'